/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018.05.30., 14:30:17
    Author     : nazimelmardi
*/

body {
  background:#E1E1E1;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width:80%;
  background:#FFF;
  margin:0 auto;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 50px;
  padding-top:50px;
  height: 800px;
} 

#leftside {
    background-color: #4c6896;
    height: 100%;
}

#rightside {
    background-color: #afbcd1;
    height: 100%;

}

.leftside {
    padding:0px;
}

.rightside {
    padding: 0px;
}

body > .container {
    padding-top: 60px;
}

#header {
  display:inline-block;
  width:100%;
  background:blue;
}

#menu2 {
  list-style: none;
}

#menu ul li {
  float: right;
  font-size:18px;
  padding:8px;
  text-decoration: none;
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 15px;
}

